.about-container {
    display: flex;
    justify-content: center;
    margin: 0 200px;
    padding-top: 150px;
   
  }
  
  .about-content {
    display: flex;
    width: 100%;
  }
  
  .about-left {
    flex: 0 0 auto;
    margin-right: 50px;
    border: double aqua 4px;
    box-shadow: 0 20px 25px 0 rgba(0, 255, 255, 0.4);
    z-index: 1;
  }

  .about-left:hover{
    box-shadow: 0 20px 25px 0 rgba(255, 255, 255, 0.76);
    border: double rgb(255, 255, 255) 4px;
    transition-duration: 1s;
  }
  .about-photo {
    width: 500px;
    height: 350px;
    border-radius: 5px;
  }
  
  .about-right {
    /* border: solid red 3px; */
    margin-top: -20px;
    flex: 1;
  }
  
  .about-right h2 {
    font-weight: bold;
    text-shadow: 5px 2px 4px rgba(0, 255, 255, 0.6);
    font-size: 40px;
    color: aqua;
    text-align: left;
  }
  
  .designation {
    margin-bottom: 20px;
    /* color: rgb(237, 11, 230); */
    font-size: xx-large;
    font-weight: 800;
    text-align: left;
    margin-top: -30px;
  }
  
  .typing-text {
    overflow: hidden;
    border-right: .15em solid rgb(0, 255, 234); /* Adjust color and width as needed */
    white-space: nowrap;
    margin-right: 10px;
    animation: typing 2s steps(40, end), blink-caret .75s step-end infinite;
  }
  
  @keyframes typing {
    0%, 100% {
      width: 0;
    }
    50% {
      width: 100%;
    }
  }
  
  @keyframes blink-caret {
    from, to {
      border-color: transparent;
    }
    50% {
      border-color: rgb(6, 253, 244); /* Adjust color as needed */
    }
  }
  
  
  .about-right p {
    margin-bottom: 10px;
  }
  .desc{
    font-size: x-large;
  }
  .college {
    color: aqua;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
  }

  .college:hover{
    color: white;
  }

  /* Media Queries  */

  /* Media queries */

/* Laptop 15 inch */
@media screen and (min-width: 1025px) and (max-width: 1440px) {
  .about-container {
    display: flex;
    justify-content: center;
    margin: 0 150px;
    padding-top: 150px;
   
  }
  .about-photo {
    width: 420px;
    height: 310px;
    border-radius: 5px;
  }
  .about-left {
    flex: 0 0 auto;
    margin-right: 50px;
    border: double aqua 4px;
    box-shadow: 0 20px 25px 0 rgba(0, 255, 255, 0.4);
    margin-bottom: 100px;
    z-index: 1;
  }
  .about-left:hover{
    box-shadow: 0 20px 25px 0 rgba(255, 255, 255, 0.76);
    border: double rgb(255, 255, 255) 4px;
    transition-duration: 1s;
  }
  .desc{
    font-size: large;
  }
  .about-right h2 {
    font-weight: bold;
    text-shadow: 5px 2px 4px rgba(0, 255, 255, 0.6);
    font-size: 34px;
    color: aqua;
    text-align: left;
  }
  .designation {
    margin-bottom: 20px;
    /* color: rgb(237, 11, 230); */
    font-size: x-large;
    font-weight: 800;
    text-align: left;
    margin-top: -30px;
  }
}

/* Tablet landscape */
@media screen and (max-width: 1024px) and (orientation: landscape) {
  .about-container {
    display: flex;
    justify-content: center;
    margin: 0 80px;
    padding-top: 100px;
   
  }
  .about-photo {
    width: 300px;
    height: 240px;
    border-radius: 5px;
  }
  .about-left {
    flex: 0 0 auto;
    margin-right: 50px;
    border: double aqua 4px;
    box-shadow: 0 20px 25px 0 rgba(0, 255, 255, 0.4);
    margin-bottom: 80px;
    z-index: 1;
  }
  .about-left:hover{
    box-shadow: 0 20px 25px 0 rgba(255, 255, 255, 0.76);
    border: double rgb(255, 255, 255) 4px;
    transition-duration: 1s;
  }
  .desc{
    font-size: medium;
  }
  .about-right h2 {
    font-weight: bold;
    text-shadow: 5px 2px 4px rgba(0, 255, 255, 0.6);
    font-size: 28px;
    color: aqua;
    text-align: left;
  }
  .designation {
    /* color: rgb(237, 11, 230); */
    font-size: large;
    font-weight: 800;
    text-align: left;
    margin-top: -20px;
  }
}

/* Tablet portrait */
@media screen and (max-width: 768px) and (orientation: portrait) {
  .about-container {
    /* border: solid blue 1px; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 40px;
    padding-top: 100px;
    /* border: solid red 2px; */
  }
  .about-content{
    /* border: solid blue 1px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin-left: 30px; */
  }
  .about-photo {

    width: 320px;
    height: 250px;
    border-radius: 5px;

    /* border: solid red 2px; */
  }
  .about-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 0 0 auto;
    margin-right: 0px;
    border: double aqua 4px;
    box-shadow: 0 20px 25px 0 rgba(0, 255, 255, 0.4);
    margin-bottom: 80px;
    z-index: 1;
    /* border: solid red 2px; */
  }
  .about-left:hover{
    box-shadow: 0 20px 25px 0 rgba(255, 255, 255, 0.76);
    border: double rgb(255, 255, 255) 4px;
    transition-duration: 1s;
  }
  .desc{
    font-size: medium;
    /* border: solid blue 2px; */
    text-align: center;
  }
  .about-right h2 {
    /* border: solid blue 2px; */
    text-align: center;
    font-weight: bold;
    text-shadow: 5px 2px 4px rgba(0, 255, 255, 0.6);
    font-size: 28px;
    color: aqua;
    text-align: left;
  }
  .designation {
    /* color: rgb(237, 11, 230); */
    /* border: solid #0000ff 2px; */
    text-align: center;
    justify-content: center;
    font-size: large;
    font-weight: 800;
    text-align: left;
    margin-top: -20px;
    margin-left: 130px;
  }
  .about-right {
    /* border: solid red 3px; */
    margin-top: -40px;
    flex: 1;
  }
  .about-right > h2 {
    /* border: solid red 3px; */
   text-align: center;
  }
  .college {
    /* border: solid blue 2px; */
    text-align: center;
    color: aqua;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
  }
}


/* Mobile phone */
@media screen and (max-width: 480px) {
  .about-container {
    /* border: solid blue 1px; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 40px;
    padding-top: 100px;
    /* border: solid red 2px; */
  }
  .about-content{
    /* border: solid blue 1px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin-left: 30px; */
  }
  .about-photo {

    width: 320px;
    height: 250px;
    border-radius: 5px;

    /* border: solid red 2px; */
  }
  .about-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 0 0 auto;
    margin-right: 0px;
    border: double aqua 4px;
    box-shadow: 0 20px 25px 0 rgba(0, 255, 255, 0.4);
    margin-bottom: 80px;
    z-index: 1;
    /* border: solid red 2px; */
  }
  .about-left:hover{
    box-shadow: 0 20px 25px 0 rgba(255, 255, 255, 0.76);
    border: double rgb(255, 255, 255) 4px;
    transition-duration: 1s;
  }
  .desc{
    font-size: medium;
    /* border: solid blue 2px; */
    text-align: center;
  }
  .about-right h2 {
    /* border: solid blue 2px; */
    text-align: center;
    font-weight: bold;
    text-shadow: 5px 2px 4px rgba(0, 255, 255, 0.6);
    font-size: 28px;
    color: aqua;
    text-align: left;
  }
  .designation {
    /* color: rgb(237, 11, 230); */
    /* border: solid #0000ff 2px; */
    text-align: center;
    justify-content: center;
    font-size: large;
    font-weight: 800;
    text-align: left;
    margin-top: -20px;
    margin-left: 130px;
  }
  .about-right {
    /* border: solid red 3px; */
    margin-top: -40px;
    flex: 1;
    border: double aqua 3px;
    border-radius: 10px;
  }
  .about-right > h2 {
    /* border: solid red 3px; */
   text-align: center;
  }
  .college {
    /* border: solid blue 2px; */
    text-align: center;
    color: aqua;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
  }
}